body{
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.flexible-container-2{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
.half-width{
    width: 50%;    
}
.half-width img{
    width: 70%;
}
.half-width-2{
    width: 75%;
    margin: auto;
    margin-left: 25px;
}
.half-width-3{
    width: 75%;
    margin: auto;
    margin-right: 25px;
}
.image-width{
    width: 30%;
}
img{
    width: 100%;
}
section{
    margin-left: 75px;
    margin-right: 75px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
    font-weight:700;
}
h3{
    font-size: 40px;
    margin-bottom: 0%;
    margin-top: 0%;
    
}
.heading-color{
    color: rgb(185, 0, 102);
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: rgba(14, 1, 85, 0.733);
    padding: 10px 40px;
    margin-top: 100px;
    border-radius: 5px;
}
.font-changing{
    font-family: 'Poppins', sans-serif;
}
#left-border{
    border-image: linear-gradient(rgba(14, 1, 85, 0.733), violet);
    border-left:3px solid;
    border-image-slice: 1;
    padding-left:10px ;
    font-family:Serif;
}
.change-align{
    text-align: center;
}
.photo-size{
    width: 35%;
}
.box-making-1{
    background-color: #f3f3f3;
    margin-right: 25px;
    padding: 20px;
    border-radius: 25px;
    width: 30%;
}
.box-making-2{
    background-color:rgb(241, 237, 241) ;
    margin-right: 25px;
    padding: 20px;
    border-radius: 25px;
    width: 30%;
}
.box-making-3{
    background-color:rgb(222, 241, 245); ;
    padding: 20px;
    border-radius: 25px;
    width: 30%;
}
p{
    padding-bottom: 10px;
    line-height: 2em;
}
footer{
    text-align: center;
    background-color:rgb(185, 0, 102);
    color: white;
    padding: 5px;
    margin: 0%;
}
.last-align{
    text-align: center;
}
.image-div{
    width: 10%;
    margin: auto;
}
.set-logo{
    height:5%;
    justify-content: space-around;

}
.set-logo img{
    width: 50%;
}
.footer-color{
     color: rgb(255, 188, 5);
}
.finishing{
    margin: 0%;
}
.final-font{
    font-family: 'Norican', cursive;
    font-size: 30px;
}

